In [31]:
import os
import pandas as pd
os.chdir(r'C:\Users\Min\Documents\Python Scripts\머신러닝\4-2 실습 파일\data')
data = pd.read_csv("bank-additional-full.csv", sep = ';')

In [32]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

컴퓨터는 오로지 숫자만을 인식한다 즉 범주형 데이터를 학습 할 수 없다. 범주형 데이터를 학습하고 싶으면 범주형 데이터를 수치형 데이터로 전환시켜줘야 한다. 주로 one-hot-encoding을 많이 사용한다.

In [33]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [34]:
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [35]:
#y는 yes 값이라는 의미로 우리가 예측해야할 label값이므로 input에서 제외한다.
data =pd.get_dummies(data=data,columns=['job', 'marital', 'education', 
                                        'default', 'housing', 'loan','contact', 
                                        'month', 'day_of_week','poutcome'])
data

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,0,1,0
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,0,0,1,0,0,0,0,1,0,0

In [37]:
data.dtypes

age                     int64
duration                int64
campaign                int64
pdays                   int64
previous                int64
                        ...
day_of_week_tue         uint8
day_of_week_wed         uint8
poutcome_failure        uint8
poutcome_nonexistent    uint8
poutcome_success        uint8
Length: 64, dtype: object

In [38]:
data['id']=range(len(data))

In [39]:
len(data)

41188

In [44]:
train=data.sample(30000,replace=False,random_state=2020).reset_index().drop(['index'],axis=1)
test=data.loc[~data['id'].isin(train['id'])].reset_index().drop(['index'],axis=1)

In [46]:
test.shape,train.shape

((11188, 65), (30000, 65))

# 랜덤포레스트 실습하기
<ul>
<strong>특징</strong> <br>    
 1. 해석이 어렵다.   <br>  
 2. 학습이 느리다... <br>   
 3. 일반 의사결정나무 모델보다 월등히 좋은 성능을 보이긴 한다.  <br>  
 </ul>
 <ul>
 <strong>파라미터</strong><br>
 1. n_estimators: 몇 개의 의사결정나무를 만들 것인지<br>
 2. min_samples_split: 각 의사결정나무에서 각 구간의 최소 샘플 수 , 이보다 적으면 더이상 분리되지 않음<br>
</ul>

In [51]:
from sklearn.ensemble import RandomForestClassifier

In [52]:
rf=RandomForestClassifier(n_estimators=500,min_samples_split=10)

In [66]:
input_var=['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [67]:
rf.fit(train[input_var],train['y'])

RandomForestClassifier(min_samples_split=10, n_estimators=500)

In [69]:
predictions = rf.predict(test[input_var])

In [70]:
test['pred']=predictions
(test['pred']==test['y']).mean()

0.9128530568466213

# 의사결정 나무와 RandomForest 비교하기

In [71]:
from sklearn.tree import DecisionTreeClassifier
dt =  DecisionTreeClassifier(min_samples_split=10)

In [73]:
dt.fit(train[input_var],train['y'])

DecisionTreeClassifier(min_samples_split=10)

In [74]:
test['pred']=dt.predict(test[input_var])
(test['pred']==test['y']).mean()

0.8985520200214515

의사결정 나무 정확도: 89.8%  
랜덤포레스트 정확도 : 91.2%